<a href="https://colab.research.google.com/github/nikolasfuruta/exercicio_blue/blob/main/blue_exercicios_08_06_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXERCÍCIOS PARA TREINAR

In [ ]:
# 1 - Frase na tela

In [ ]:
print("O primeiro programa a gente nunca esquece!")

O primeiro programa a gente nunca esquece!

In [ ]:
# 2 - Elabore um programa que escreve seu nome completo na primeira linha, seu endereço na segunda e o CEP e telefone na terceira.

In [ ]:
nome = str(input("Digite o nome: "))
ender = str(input("Digite o endereço: "))
cep = str(input("Digite o cep: "))
print(f"Nome: {nome}\nEndereço: {ender}\nCEP: {cep}")

Digite o nome: Nikolas
Digite o endereço: abcd
Digite o cep: 1233445567788
Nome: Nikolas
Endereço: abcd
CEP: 1233445567788

In [ ]:
# 3 -Letra de música

In [ ]:
banda = 'Sticky Fingers'
musica = 'Cyclone'
letra = """ Here comes a story of a hurricane
      And a temper is lost like crying tears in rain
      No love is lost or no sweet wisdom gained
      So save your tears and save yourself the shame
      Cyclone"""
print(f"Banda: {banda}\nMúsica: {musica}\nLetra:{letra}")

Banda: Sticky Fingers
Música: Cyclone
Letra: Here comes a story of a hurricane
      And a temper is lost like crying tears in rain
      No love is lost or no sweet wisdom gained
      So save your tears and save yourself the shame
      Cyclone

In [ ]:
# 4-Tabela de notas

In [ ]:
print("ALUNO (A)  NOTA")
print("=========  =====")
print(f"ALINE      {9.0}")
print("MÁRIO      DEZ")
print(f"SÉRGIO     {4.5}")
print(f"SHIRLEY    {7.0}")

ALUNO (A)  NOTA
=========  =====
ALINE      9.0
MÁRIO      DEZ
SÉRGIO     4.5
SHIRLEY    7.0

In [ ]:
# 5-Menu

In [ ]:
print("Cadastro de Clientes")
lista_clientes = ['Fim','Inclui','Altera','Exclui','Consulta']
[print(f"{k} - {v}") for k,v in enumerate(lista_clientes)]
opcao = int(input('Digite uma opção: '))
print(lista_clientes[opcao])

Cadastro de Clientes
0 - Fim
1 - Inclui
2 - Altera
3 - Exclui
4 - Consulta
Digite uma opção: 2
Altera

In [ ]:
# 6-Calculadora de Dano

In [2]:
from math import ceil
vida = float(input("Digite a quantidade de vida de um monstro (entre 10 e 50): "))
ataque = float(input("Digite o valor do ataque do jogador por turno (entre 5 e 10): "))
tempo_derrota = ceil(vida/ataque)
print(f"O jogador irá derrotar o monstro em {tempo_derrota} turnos.")

Digite a quantidade de vida de um monstro (entre 10 e 50): 37
Digite o valor do ataque do jogador por turno (entre 5 e 10): 11
O jogador irá derrotar o monstro em 4 turnos.

EXERCÍCIOS

In [ ]:
#01 - E os 10% do garçom?**

In [ ]:
valor_refeicao = 42.54
taxa_servico = 0.1
valor_total = valor_refeicao*(1+taxa_servico)
print(f"R${valor_total:.2f}")

R$46.79

In [ ]:
#02 - Qual o valor do troco?

In [ ]:
compra = 100.98
pag = 150
troco = pag - compra
print(f"O troco é de R${troco:.1f}")

O troco é de R$49.0

In [ ]:
#03 - Você está na flor da idade?

In [ ]:
ano_nasc = int(input("Digite o ano do seu nascimento: "))
ano_atual = 2021
idade = ano_atual - ano_nasc
print(f"Sua idade é {idade} anos. Você está na flor da idade.")

Digite o ano do seu nascimento: 1989
Sua idade é 32 anos. Você está na flor da idade.

MINI PROJETOS

In [ ]:
#01 - Conversor de moedas

In [ ]:
moedas = ['DOLAR','EURO','LIBRA ESTERLINA','DOLAR CANADENSE','PESO ARGENTINO','PESO CHILENO']
cotacoes = [5.04,6.13,7.13,4.16,0.053,0.0070]
conversor = {k:v for k,v in zip(moedas,cotacoes)}
real = float(input("Digite o valor em reais: "))
qual_moeda = input("Digite a moeda para converter: ")
converter = real/conversor[qual_moeda.upper()]
print(f"Real: {real} -  {qual_moeda}: {converter:.2f}")

Digite o valor em reais: 1
Digite a moeda para converter: dolar
Real: 1.0 -  dolar: 0.20

In [ ]:
#02 - PART 1 Calculadora de aumento de aluguel

In [ ]:
valor_aluguel = float(input("Digite o valor do aluguel: "))
taxa = 0.31
valor_reajuste = valor_aluguel*(1+taxa) 
print(f"Valor do aluguel = {valor_aluguel}\nValor do aluguel reajustado = {valor_reajuste:.2f}")

Digite o valor do aluguel: 1000
Valor do aluguel = 1000.0
Valor do aluguel reajustado = 1310.00

In [ ]:
#02 - PART 2 Calculadora de aumento de aluguel

In [ ]:
valor_aluguel = float(input("Digite o valor do aluguel: "))
percentual_reajuste = int(input("Digite a %: "))
taxa = float(percentual_reajuste/100)
valor_reajuste = valor_aluguel*(1+taxa) 
print(f"Valor do aluguel = {valor_aluguel}\nValor do aluguel reajustado = {valor_reajuste:.2f}")

Digite o valor do aluguel: 1000
Digite a %: 31
Valor do aluguel = 1000.0
Valor do aluguel reajustado = 1310.00